* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
}

header .center {
    width: 1156px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 导航 */

nav {
    width: 752px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav a {
    flex: auto;
    font-size: 18px;
    color: #333333;
    line-height: 80px;
}

nav a.active {
    text-decoration: none;
    border-bottom: 6px solid #866961;
    color: #866961;
}


/* banner图 */

.banner img {
    width: 100%;
}


/* 团队介绍 */

.team-introduction {
    width: 996px;
    height: 697px;
    margin: 0 auto;
}
.team-introduction .title .multi-title {
    width: 500px;
    display: flex;
}
.team-introduction .title {
    height: 70px;
    border-bottom: 1px solid #d5d5d5;
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
}
.team-introduction .title .multi-title .text {
    margin-left: 36px;
}
.team-introduction .title .multi-title .text:nth-child(1) {
    margin-left: 0px;
}
.team-introduction .title .text i {
    color: #999999;
    display: flex;
}
.team-introduction .title .text i.iconfont {
    font-size: 6px;
}
.team-introduction .title .text i h3{
    color: #333333;
}

.team-introduction .title .text span {
    color: #999999;
    font-size: 12px;
}

.team-introduction .title .location i {
    color: #999999;
}

.team-introduction .title .location a {
    color: #333333;
}
/* 内容 */
.team-introduction .content {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;

}
.team-introduction .content .date-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.team-introduction .content .date-box .line1 {
    width: 1px;
    height: 58px;
    background-color: #999999;
    margin-left: 21px;
    margin-top: 10px;
    margin-bottom:10px ;
}
.team-introduction .content .date-box .line2 {
    width: 1px;
    height: 111px;
    background-color: #999999;
    margin-left: 21px;
    margin-top: 10px;
    margin-bottom:10px ;
}
.team-introduction .content .date-box .line3 {
    width: 1px;
    height: 48px;
    background-color: #999999;
    margin-left: 21px;
    margin-top: 10px;
    margin-bottom:10px ;
}
.team-introduction .content .date-box .line4 {
    width: 1px;
    height: 125px;
    background-color: #999999;
    margin-left: 21px;
    margin-top: 10px;
    margin-bottom:10px ;
}
.team-introduction .content .date {
    display: flex;
    align-items: center;
}
.team-introduction .content .date .lines {
    width: 37px;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}
.team-introduction .content .date .lines div {
    width: 1px;
    height: 7px;
    background-color: #f2f2f2;
}
.team-introduction .content .date span {
    color: #999999;
    font-size: 24px;

}
.team-introduction .content .date .first-line {
    color: #866961;
    font-size: 24px;

}
.team-introduction .content .event {
    padding-top: 8px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team-introduction .content .event div {
    width: 869px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 7px;
}
.team-introduction .content .event div a{
    font-size: 14px;
    color: #666666;
}
.team-introduction .content .event div a span{
    margin-right: 22px;
}
.team-introduction .content .event div a.first-line{
    color: #866961;
}


/* 底部 */

footer {
    height: 80px;
    background-color: #866961;
    margin-top: 37px;
}

footer div {
    width: 1068px;
    padding-right: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer div span {
    line-height: 80px;
    color: #fefefe;
}